<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

           <li><a routerLink="/category/1" routerLinkActive="active-link">books</a></li>
           <li><a  routerLink="/category/2" routerLinkActive="active-link">coffee Mugs</a></li>
        <li><a routerLink="/category/3"  routerLinkActive="active-link">Mouse pads</a></li>
        <li><a routerLink="/category/4"  routerLinkActive="active-link">luggage tags</a></li>
        </ul>
    </nav>
</div>